#parallax-vid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(polina.jpg) no-repeat;
}

.nav-wrapper .button-collapse {
  height: 64px;
  line-height: 64px;
}
