---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<meta name="generator" content={Astro.generator} />
		<title>Rannien's Homepage</title>
	</head>
	<body class="m-0 h-full w-full">
		<slot />
	</body>
</html>
